<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">  
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.1.0/nouislider.css">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <div class="container">
                <div class="brand">
                  <h1 id="brand_roul">Roul</h1>
                  <h1 id="brand_eats">Eats</h1>
                </div>
                <br>
            
                <div class="box">
                  <div id="cube">
                    <div class="front">
                      <img src="https://image.flaticon.com/icons/svg/433/433138.svg">
                    </div>
                    <div class="back">
                      <img src="https://image.flaticon.com/icons/svg/883/883806.svg">
                    </div>
                    <div class="right">
                      <img src="https://image.flaticon.com/icons/svg/1037/1037793.svg">
                    </div>
                    <div class="left">
                      <img src="https://image.flaticon.com/icons/svg/468/468637.svg">
                    </div>
                    <div class="top">
                      <img src="https://image.flaticon.com/icons/svg/94/94280.svg">
                    </div>
                    <div class="bottom">
                      <img src="https://image.flaticon.com/icons/svg/651/651589.svg">
                    </div>
                  </div>
                </div>
                <br>
            
                
            <p class="caption">Too hungry to decide on a restaurant? Let us decide for you!</p>       
            <br>

            <a href="/login" class="btn waves-effect waves-light orange darken-1 default"><span class=""></span>Log In</a>
            <a href="/login/facebook" class="btn waves-effect waves-light orange darken-1 default"><span class=""></span>Connect with Facebook</a>
            <a href="/signup" class="btn waves-effect waves-light orange darken-1 default"><span class=""></span>Sign Up</a>
        </div>
    </div>


    
    <footer>
        © 2018 Copyright RoulEats
    </footer>

</body>
</html>