<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
html,
body {
	color: #ea5455;
    background-color: #2d4059;
    padding-top:80px;
	
}

	</style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
        
            <p class="caption">Too hungry to decide on a restaurant? Let us decide for you!</p>       
            <p>Login or Register with:</p>

            <a href="/login/facebook" class="btn btn-social-icon btn-lg btn-facebook"><i class="fa fa-facebook"></i></a>
            <a href="/login" class="btn btn-default"><span class=""></span>Login</a>
            <a href="/signup" class="btn btn-default"><span class=""></span>Signup</a>
        </div>
    </div>

</body>
</html>